.project {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.background-light {
  background-color: white;
}
.background-dark {
  background-color: rgb(34, 34, 34);
}
.project-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.project-container p {
  width: 97%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.project-container img {
  max-width: 100%;
}
.text-dark a {
  color: white;
}
.text-light a {
  color: black;
}
hr {
  height: 0.01px;
  opacity: 0.2;
  width: 95%;
}
@media only screen and (min-width: 1200px) {
  .project {
    height: 100vh;
  }
  .project-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .project-header {
    font-size: 2rem;
  }
}
