.project {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.project-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.project-container img {
  max-width: 100%;
}
