.projects {
  transition: 600ms;
  padding-top: 4rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}
.projects-light {
  background-color: white;
}
.projects-dark {
  background-color: rgb(34, 34, 34);
}
.projects-dark img {
  box-shadow: 0px 0px 2px white;
}
.projects-light img {
  box-shadow: 0px 0px 2px black;
}
.text-light {
  color: black;
}
.text-dark {
  color: white;
}
.projects-header {
  font-size: 2rem;
  margin-bottom: 0rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}
.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
.projects-container a {
  text-decoration: none;
}
.projects-container img {
  max-width: 100%;
}

.each-project-container p {
  font-size: 1rem;
  margin-top: 0rem;
}
.each-project-container h5 {
  margin-bottom: 0.75rem;
}
@media only screen and (min-width: 600px) {
  .projects-container {
    width: 80%;
    height: 80%;
    margin-top: 2rem;
    border: 0.5px solid rgb(66, 66, 66);
    border-radius: 5px;
    margin-top: 4rem;
  }
  .each-project-container {
    width: 80%;
  }
  .projects-container img {
    max-width: 100%;
  }
  .projects-container img:hover {
    opacity: 0.8;
  }
}
@media only screen and (min-width: 1000px) {
  .projects-container {
    margin-top: 0rem;
    min-height: 40rem;
    max-height: 40rem;
  }
  .each-project-container {
    max-width: 28%;
    margin: -1rem 3rem;
  }
  .projects-container img {
    max-width: 100%;
  }
  .projects-header {
    font-size: 2.4rem;
    margin-top: 0.6rem;
  }
}
@media only screen and (min-width: 1600px) {
  .projects-container {
    min-height: 50rem;
  }
  .each-project-container {
    max-width: 35%;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}
@media only screen and (max-width: 1200px) and (min-height: 900px) {
  .projects-container {
    margin-top: 2rem;
  }
}
