.about {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  transition: 600ms;
  padding-top: 4rem;
  padding-bottom: 2rem;
  width: 100%;
  min-height: 100vh;
}
.resume {
  margin-top: 1rem;
  max-width: 95%;
}
.about-light {
  background-color: white;
}
.about-dark {
  background-color: rgb(34, 34, 34);
}
.show-nav {
  filter: blur(5px);
}
.about-container {
  display: flex;
  width: 80%;
  justify-content: center;
  line-height: 2rem;
  font-size: 1rem;
  text-align: left;
  transition: 600ms;
}
.resume-container img {
  max-height: 50rem;
}
.skills-container {
  display: flex;
}
.skills-header {
  margin-bottom: 0rem;
}
.skills-container ul h3 {
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}
.skills-container li {
  margin-left: 1rem;
}
.about-container-light {
  color: black;
}
.about-container-dark {
  color: white;
}

.about-text-container p {
  margin-top: -1rem;
}
.add-a-new-skill-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.add-a-new-skill-contianer form {
  width: 100%;
}
.add-a-new-skill-contianer h4 {
  cursor: pointer;
  text-decoration: underline;
}
.add-a-new-skill-contianer button {
  margin-bottom: 2rem;
  cursor: pointer;
}
.add-a-new-skill-contianer button:disabled {
  background-color: #494949;
}
.skill-type-check-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.skill-type-check-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-type-check-container input {
  /* display: flex; */
  width: 2rem;
}
@media only screen and (max-width: 600px) {
  .about-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-container {
    flex-direction: column;
  }
  .skill-type-check-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .about {
    min-height: 100vh;
  }
  .about-text-container {
    width: 90%;
  }
  .image-container img {
    max-height: 20rem;
  }
  .about-container {
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgb(66, 66, 66);
    border-radius: 5px;
    margin-top: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media only screen and (min-width: 700px) {
  .about-container {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
  }
}
@media only screen and (min-width: 756px) {
  .about-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .about-container {
    margin-top: 2rem;
    min-height: 40rem;
    max-height: 40rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-text-container {
    padding-top: 0;
    padding-bottom: 0;
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .about-container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1400px) {
  .about-container {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 1600px) {
  .about-container {
    min-height: 50rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .about-text-container {
    width: 60%;
  }
  .image-container img {
    max-height: 30rem;
  }
}
@media only screen and (max-width: 1200px) and (min-height: 900px) {
  .about-container {
    height: 50rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .about-text-container {
    display: none;
  }
}
@media only screen and (min-width: 400px) {
  .resume {
    display: none;
  }
}
