.about {
  display: flex;
  justify-content: center;
  transition: 600ms;
  padding-top: 4rem;
  padding-bottom: 2rem;
  width: 100%;
  min-height: 100vh;
}
.about-light {
  background-color: white;
}
.about-dark {
  background-color: rgb(34, 34, 34);
}
.show-nav {
  filter: blur(5px);
}
.about-container {
  display: flex;
  width: 80%;
  justify-content: center;
  line-height: 2rem;
  font-size: 1rem;
  text-align: left;
  transition: 600ms;
}
.skills-container {
  display: flex;
}
.skills-header {
  margin-bottom: 0rem;
}
.skills-container ul h3 {
  margin-left: -1rem;
  margin-bottom: 0.5rem;
}
.skills-container li {
  margin-left: 1rem;
}
.about-container-light {
  color: black;
}
.about-container-dark {
  color: white;
}

.about-text-container p {
  margin-top: -1rem;
}
@media only screen and (max-width: 600px) {
  .about-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .about {
    min-height: 100vh;
  }
  .about-text-container {
    width: 80%;
  }
  .image-container img {
    max-height: 20rem;
  }
  .about-container {
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgb(66, 66, 66);
    border-radius: 5px;
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .about-container {
    min-height: 40rem;
    max-height: 40rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-text-container {
    padding-top: 0;
    padding-bottom: 0;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .about-container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1800px) {
  .about-container {
    min-height: 54rem;
  }
  .about-text-container {
    width: 40%;
  }
  .image-container img {
    max-height: 30rem;
  }
}
