.secret {
  padding-top: 4rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.secret-container {
  width: 80%;
  margin-top: 2rem;
  border: 0.5px solid rgb(66, 66, 66);
  border-radius: 5px;
  max-height: 50rem;
}
.secret p {
  color: red;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
button {
  min-width: 26.6rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.secret-light {
  background-color: white;
}
.secret-dark {
  background-color: rgb(34, 34, 34);
}
.secret-light p {
  color: black;
}
.secret-dark p {
  color: white;
}
.home-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 2rem;
  font-size: 1.5rem;
  transition: 600ms;
}
