.home {
  padding-top: 5rem;
  transition: 600ms;
}
.home-light {
  background-color: white;
}
.home-dark {
  background-color: rgb(34, 34, 34);
}
.home-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: left;
  transition: 600ms;
}
.home-container-light {
  color: black;
}
.home-container-dark {
  color: white;
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  max-height: 15rem;
  border-radius: 5px 50px 5px;
  margin-right: 4rem;
}

@media only screen and (max-width: 600px) {
  .image-container img {
    width: 90%;
    margin: 0 auto;
  }
  .home-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .home {
    height: 100vh;
  }
  .text-container {
    width: 60%;
  }
  .image-container img {
    margin-right: 4rem;
  }
}
