@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
.contact {
  transition: 600ms;
  padding-top: 4rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}
.contact-light {
  background-color: white;
}
.contact a {
  font-size: 4.5rem;
}
.contact-dark {
  background-color: rgb(34, 34, 34);
}
.contact-dark a {
  text-decoration: none;
  color: white;
}
.contact-light a {
  text-decoration: none;
  color: black;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.contact-header {
  font-size: 2.4rem;
  margin-top: -2rem;
}
.contact-header-light {
  color: black;
}
.contact-header-dark {
  color: white;
}
.connect-message {
  margin-top: -1rem;
}
.text-light {
  color: black;
}
.text-dark {
  color: white;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
}
input {
  height: 1.5rem;
  width: 20rem;
  margin-bottom: 1rem;
}

textarea {
  height: 4rem;
  width: 20rem;
}
.submit-button {
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: black;
  font-size: 1.2rem;
  height: 3rem;
  color: white;
  cursor: pointer;
}
.contact-link-container {
  margin: 0rem 4rem;
}
.contact-link-container p {
  font-size: 1rem;
  margin-bottom: -1rem;
}
.icon {
  margin-top: -2rem;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
  .contact-container {
    margin-top: 2rem;
    width: 90%;
  }
  .contact-links {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .contact-link-container {
    width: 25%;
  }
  .contact-container p {
    font-size: 1rem;
    margin-bottom: -2rem;
    margin-top: 0rem;
  }
  .icon {
    font-size: 2rem;
  }
  .contact-link-container {
    margin: 0.5rem;
  }
}
@media only screen and (min-width: 600px) {
  .contact-container {
    margin-top: 4rem;
    width: 80%;
    border: 0.5px solid rgb(66, 66, 66);
    border-radius: 5px;
    min-height: 40rem;
  }
  .contact-container .connect-message {
    font-size: 1.5rem;
    width: 35%;
  }
  .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -1.5rem;
  }
}
@media only screen and (max-width: 1000px) and (min-height: 1000px) {
  .contact-container {
    height: 50rem;
  }
  .contact-container .connect-message {
    width: 60%;
  }
  .contact-links {
    margin-top: 6rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact-container {
    width: 80%;
    min-height: 40rem;
    max-height: 40rem;
    margin-top: 4rem;
  }
  input,
  textarea {
    width: 26rem;
  }
  .submit-button:hover {
    opacity: 0.5;
  }
  label {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-container {
    max-height: 44rem;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-container {
    min-height: 50rem;
  }
}
